import(methods)
import(fdrtools)
importFrom(graphics, lines, plot, text)
importFrom(stats, quantile, sd)
importFrom(utils, read.table, write.table)
importFrom(genefilter, rowttests, rowFtests)
importFrom(Biobase, exprs)
importClassesFrom(Biobase, ExpressionSet)
importClassesFrom(GSEABase, GeneSet, GeneSetCollection)
importMethodsFrom(GSEABase, geneIds, setName)
export(rowt, rowF)
exportClasses(Gsri)
exportMethods(gsri, getGsri, getCdf, getParms, export, show, summary, plot, readCls, readGct, sortGsri)
